.footer {
  background-color: var(--clr-dark-400);
  padding-block: var(--spacing-700);
  margin-top: 10%;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-500);
}

.socialLinks {
  display: flex;
  gap: var(--spacing-400);
}

.link {
  border: 2px solid var(--clr-light-400);
  font-size: var(--fs-500);
  padding: var(--spacing-400);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: grid;
  place-content: center;
  line-height: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  font-size: var(--fs-600);
  font-weight: var(--fw-semibold);
  color: var(--clr-accent-400);
  font-family: var(--ff-secondary);
}

@media screen and (min-width: 48em) {
  .footer {
    padding-block: var(--spacing-400);
  }

  .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
