/* ******************** */
/* UTILITIES            */
/* ******************** */
.container {
  max-width: min(70rem, 100% - 20px);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow, 1rem);
}

.btn-primary {
  min-width: 6rem;
  padding: var(--spacing-100);
  color: var(--clr-light-400);
  font-weight: var(--fw-semibold);
  background-color: var(--clr-accent-400);
  border: 0;
  border-radius: 100vmax;
  text-align: center;
}

.control {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-300);
}

.label {
  font-weight: var(--fw-semibold);
}

.input {
  background-color: var(--clr-dark-400);
  border: 2px solid transparent;
  color: var(--clr-light-400);
  padding: var(--spacing-100) var(--spacing-200);
}

.input:hover,
.input:focus {
  outline: 0;
  border-color: var(--clr-light-600);
}

.table {
  width: 100%;
  padding: var(--spacing-300);
  border-collapse: collapse;
}

.table th {
  text-align: center;
  font-size: var(--fs-500);
  font-weight: var(--fw-semibold);
  background-color: var(--clr-dark-400);
  padding: var(--spacing-400) var(--spacing-600);
}

.table td {
  text-align: center;
  padding-block: var (--spacing-300);
}
